eclipse-bin
build.properties
target
*.log
betoffice.log.*
project.index
project.xml.md5
database.properties
tmp
eclipse-target
pirates
*.iml
.classpath
.project
.settings
.springbeans
/bin
.vscode
.idea
.dbeaver

